<div class="bg-white rounded-2xl font-poppins py-7 px-8 lg:px-12 md:px12 shadow-md">
    <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-cyan-600 text-2xl mb-10">Transaction Successful</h1>
        <img src="/assets/images/sukses.svg" class="w-48 h-40 bg-contain mb-6" alt="">
        <p class="text-center text-sky-900 text-xs font-normal font-['Inter'] mb-4">Your ticket has been successfully issued. <br/>Open your BNI Mobile Banking to view the QR code"</p>
        <button routerLink="/myorder"
        class="w-full lg:w-2/5 h-19 text-center bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 mt-8 rounded-2xl focus:outline-none focus:shadow-outline">
        My Order
      </button>
    </div>
    
</div>