<footer class="w-full h-full -z-10 text-gray-600 font-inter lg:mt-0 mt-16 bg-neutral-200">
    <div class="container p-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img src="/assets/images/logo-bni.svg" alt="">
        </a>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/2 md:w-full mb-4 w-full px-4">
            <h2 class="font-bold text-cyan-700 text-sm mb-3">Kantor Pusat</h2>
            <p class="text-cyan-700 text-base font-normal">Gedung Grha BNI<br><span>Jl. Jenderal Sudirman Kav. 1, Jakarta Pusat 10220, Indonesia<br></span>Telepon:+62-21-2511946<span></span></p>        
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="font-bold text-cyan-700 text-sm mb-3">Download BNI Mobile Banking</h2>
          <nav class="list-none flex  lg:flex-col md:flex-col justify-center mb-10">
            <li>
              <a class="mb-3">
                <img src="/assets/images/googleplay.svg" alt="">
              </a>
            </li>
            <li>
                <a class="mb-3">
                    <img src="/assets/images/appstore.svg" alt="">
                </a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-orange-600">
      <div class="container mx-auto py-4 px-5 flex flex-col  justify-center items-center sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">© 2024 
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="ml-1" target="_blank">PT Bank Negara Indonesia (Persero), Tbk</a>
        </p>
      </div>
    </div>
</footer>
