<header class="fixed top-0 w-full shadow-sm">
  <nav class="flex justify-between px-10 py-4 items-center bg-white">
    <img src="./assets/images/logo-bnitravelink.svg" class="w-[102px] h-12"/>
    <div class="flex items-center">
      <ul class="flex items-center space-x-6">
        <li class="font-semibold text-gray-700">MyOrder</li>
        <li>
          <img src="./assets/images/blank.png" alt="User Profile" class="w-[50px] h-[50px] overflow-hidden ml-4 rounded-full border-2 border-white" />
        </li>
      </ul>
    </div>
  </nav>
</header>