<div class="font-poppins bg-login-landing bg-cover">
    <div class="flex justify-start items-center min-h-screen p-6">
        <div class="bg-white rounded-md shadow-md px-[30px] pb-[36px] pt-[14px] lg:w-1/3 sm:w-full">
            <div id="cardLogin" >
                <img class="w-20 h-20 mb-4 mx-auto" src="./assets/images/logo-bnitravelink.svg" alt="logo" />
                <form class="flex flex-col gap-4">
                    <div class="flex flex-col w-full h-[72px]">
                        <label for="userID" class="text-zinc-400 text-xl sm:text-lg font-normal font-inter leading-snug">User ID</label>
                        <input type="text" id="userID" class="border font-sem rounded-md border-gray-300 px-3 py-2 focus:outline-none focus:ring focus:border-orange-500 transition-all duration-300" name="userID" placeholder="Masukkan User ID"/>
                    </div>
                    <div class="flex flex-col h-[72px]">
                        <label for="mpin" class="text-orange-600 text-xl font-normal font-inter leading-snug">MPIN</label>
                        <input type="password" id="mpin" class="border rounded-md border-gray-300 px-3 py-2 focus:outline-none focus:ring focus:border-orange-500 transition-all duration-300" name="mpin" placeholder="MPIN"/>                   
                    </div> 
                    <div class="mt-3">
                        <div class="bg-zinc-300 rounded-md p-3 flex items-center">
                            <img class="w-4 h-4 bg-white rounded-full mr-2" src="./assets/images/warning.svg"/>
                            <div class="text-neutral-500 text-xs font-normal font-inter leading-3">It is recommended not to save your MPIN</div>
                        </div>
                    </div>
                    <button class="bg-orange-600 text-white font-semibold p-2 rounded-md mx-auto mt-6 w-1/2 h-[56px]">Login</button>
                </form>
            </div>
            <div class="flex justify-between text-sky-900 text-base font-medium font-inter w-full pt-4"> <!-- Menambahkan margin-top pada elemen ini -->
                <div>Forget User ID?</div>
                <div>Forget MPIN?</div>
            </div>
        </div>
    </div>
</div>
