<div>
    <div id="banner">
    </div>
    <div id="form-login">
        <div>Logo</div>
        <form>
            <label for="userID">User ID</label>
            <input type="text" id="userID" placeholder="masukkan user id"/>
            <label for="mPIN">MPIN</label>
            <input type="password" id="mPIN" placeholder="masukkan password"/>
            <input type="checkbox" id="rememberUser" name="rememberUser">
            <label for="rememberUser"> Remember User</label><br>
            <button type="submit">Masuk</button>
        </form>
    </div>
</div>
