<app-navbar></app-navbar>
<div class="w-full min-h-screen bg-neutral-100 py-10">
  <div class="relative">
    <div id="step" class="px-16 py-5 lg:mx-52">
      <div class="flex items-center">
        <div id="personal-form" [ngClass]="isValueUpdated?'text-cyan-600':'text-gray-300'" class="flex items-center relative">
          <div [ngClass]="isValueUpdated?'border-cyan-600':'border-gray-300'" class="flex justify-center items-center rounded-full font-semibold text-3xl transition duration-500 ease-in-out h-12 w-12 py-3 border-[3px]">
            {{ isValueUpdated ? '✔' : '1' }}
          </div>
          <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">Order</div>
        </div>
        <div [ngClass]="isPaymentUpdated?'border-cyan-600':'border-gray-300'" class="flex-auto border-t-[3px] transition duration-500 ease-in-out "></div>
        <div id="account-form" [ngClass]="isPaymentUpdated?'text-cyan-600':'text-gray-300'" class="flex items-center relative">
          <div [ngClass]="isPaymentUpdated?'border-cyan-600':'border-gray-300'" class="flex justify-center items-center rounded-full font-semibold text-3xl transition duration-500 ease-in-out h-12 w-12 py-3 border-[3px]">
            {{ isPaymentUpdated ? '✔' : '2' }}
          </div>
          <div [ngClass]="isPaymentUpdated?'border-cyan-600':'border-gray-300'" class="absolute top-0 -ml-10 text-center  mt-16 w-32 text-xs font-medium uppercase">Review</div>
        </div>
        <div [ngClass]="isPaymentUpdated?'border-cyan-600':'border-gray-300'" class="flex-auto border-t-[3px] transition duration-500 ease-in-out'"></div>
        <div id="message-form" [ngClass]="isComplete?'text-cyan-600':'text-gray-300'" class="flex items-center relative">
          <div [ngClass]="isComplete?'border-cyan-600':'border-gray-300'" class="flex justify-center items-center rounded-full font-semibold text-3xl transition duration-500 ease-in-out h-12 w-12 py-3 border-[3px]">
            {{ isComplete ? '✔' : '3' }}
          </div>
          <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">Pay</div>
        </div>
      </div>
    </div>
    <div id="form" class="w-full mt-8 p-4 md:px-8 lg:px-28">
      <router-outlet></router-outlet>
    </div>
  </div>
 </div>
