<app-navbar></app-navbar>
<main class="mx-auto flex-grow">
    <div class="w-full h-full bg-white relative">
        <img src="/assets/images/bg-home.png" class="w-full h-full bg-contain opacity-85 shadow-md" alt="">
        <div class="w-full container mx-auto absolute top-0 inset-0 z-[2]">
            <h1 class="text-center text-white font-bold text-xl">Simplifying your journey with TraveLink</h1>
            <div id="form-content" class="relative">
                <div class=" w-full md:px-5 absolute top-0 inset-0 ">
                    <app-tab></app-tab>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>