<app-navbar></app-navbar>
<div class="w-full h-screen relative">
    <img src="/assets/images/background_home.png" class="w-full h-96 bg-contain opacity-85" alt="">
    <div class="w-full absolute top-0 inset-0 z-[2] pt-10">
        <h1 class="text-center text-white font-bold text-xl">Simplifying your journey with TraveLink</h1>
        <div id="form-content" class="relative mx-auto">
            <div class="absolute inset-0 top-0 z-[2] px-10">
                <div class="h-[436px] flex flex-col mt-8 p-4 sm:mx-0 md:mx-5 shadow-md bg-white rounded-3xl">
                    <h2 class="text-sky-900 text-2xl text-center my-8 font-bold font-['Inter'] leading-snug">My Order</h2>
                    <div class="w-full py-8 px-5 overflow-x-auto ">
                        <table class="min-w-full text-center border-collapse bg-neutral-100 shadow-md rounded-xl table-auto">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-2 px-4 font-normal"></th>
                                    <th scope="col" class="py-2 px-4 font-normal">#Order ID</th>
                                    <th scope="col" class="py-2 px-4 font-normal">Transaction Date</th>
                                    <th scope="col" class="py-2 px-4 font-normal">Departure Station</th>
                                    <th scope="col" class="py-2 px-4 font-normal">Destination Station</th>
                                    <th scope="col" class="py-2 px-4 font-normal">Status</th>
                                </tr>
                            </thead>
                            <tbody class="font-semibold">
                                <tr>
                                    <td class="py-2 px-4 whitespace-nowrap">
                                        <div class="min-w-full flex justify-center items-center">
                                            <img src="assets/images/icon-krl.svg" class="w-10 h-10 bg-contain" alt="" />
                                        </div>
                                    </td>  
                                    <td class="py-2 px-4 whitespace-nowrap">0001</td>
                                    <td class="py-2 px-4 whitespace-nowrap">15 Feb 2024 09:35:41 WIB</td>
                                    <td class="py-2 px-4 whitespace-nowrap">Jakarta Kota</td>
                                    <td class="py-2 px-4 whitespace-nowrap">Tanjung Barat</td>
                                    <td class="py-2 px-4 whitespace-nowrap">
                                        <div class="min-w-full flex justify-center items-center">
                                            <div class="w-24 h-8 pl-2.5 pr-1.5 flex justify-center items-center bg-lime-600 bg-opacity-40 rounded-2xl">
                                                <div class="text-sky-900 text-base font-medium font-['Inter'] leading-snug">Active</div>
                                            </div>
                                        </div>
                                        
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-4 whitespace-nowrap">
                                        <div class="min-w-full flex justify-center items-center">
                                            <img src="assets/images/icon-krl.svg" class="w-10 h-10 bg-contain" alt="" />
                                        </div>
                                    </td>  
                                    <td class="py-2 px-4 whitespace-nowrap">0001</td>
                                    <td class="py-2 px-4 whitespace-nowrap">15 Feb 2024 09:35:41 WIB</td>
                                    <td class="py-2 px-4 whitespace-nowrap">Jakarta Kota</td>
                                    <td class="py-2 px-4 whitespace-nowrap">Tanjung Barat</td>
                                    <td class="py-2 px-4 whitespace-nowrap">
                                        <div class="min-w-full flex justify-center items-center">
                                            <div class="w-24 h-8 pl-2.5 pr-1.5 flex justify-center items-center bg-orange-500 bg-opacity-40 rounded-2xl">
                                                <div class="text-orange-700 text-base font-medium font-['Inter'] leading-snug">Unused</div>
                                            </div>
                                        </div>
                                        
                                       
                                    </td>
                                </tr>
                                <!-- Tambahkan baris berikut sesuai dengan jumlah data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

